.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.chat-list {
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-bottom: 70px;
  margin-top: 65px;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message-sent {
  justify-content: flex-end;
}

.message-received {
  justify-content: flex-start;
}

.message-content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px;
  background-color: #f3f4f6;
  border-radius: 8px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chats-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
.chats-ul li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 1rem;
}

.chats-ul li:nth-child(odd) {
  background-color: #f3f4f6;
}

.chat-thumbnail {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 8px;
}
.chat-post-container {
  display: flex;
  gap: 10px;
  margin: 0 10px;
}
.post-info-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.post-info-container p,
.post-info-container h3 {
  margin: 0;
}
.chat-pfp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
}

.message-details {
  display: flex;
  flex-direction: column;
}

.sender-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.message-text {
  font-size: 14px;
  margin: 0;
}

.message-form {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  background-color: #f3f4f6;
  position: fixed;
  bottom: 0;
}

.form {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  height: 40px;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 16px;
}

.submit-button {
  height: 40px;
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: #eca57d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.p-header h2 {
  padding: 0 20px 0 10px;
  font-family: 'Roboto Mono', monospace;
}

.chat-title {
  display: flex;
  align-items: center;
  height: 65px;
  position: fixed;
  background-color: #fff;
}

.chat-title button {
  height: 30px;
  color: black;
}
