:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1E1E1E;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blocks{
  margin: auto;
}

body {
  margin: 0;
}

/* Layout css*/

.ul{
  display: flex;
  justify-content: end;
  margin-top: -30px;
}

.li{
  display: block;
  text-align: center;
  margin-right: 15px;
}

.footer{
  border: #1E1E1E;
  border-top: 2px solid black;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #fff;
}

.nav-text{
  display: block;
  text-align: start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;

}

.mainpage{
  width: 100%;
}




/* Home css*/
.homediv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.homepallo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ECA57D;
}

.home-text{
  margin-left: -40px;
  font-size: 50px;
}

.artists-box {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 30px;
  border: 2px solid rgb(50, 50, 50);
  padding: 10px;
}

.artist-profile {
  text-align: start;
  margin-right: 20px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.artist-name {
  font-size: 20px;
  font-weight: bold;
}

.artist-text {
  font-size: 14px;
  width: 60%;
}

.artist-week {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.artist-photo {
  margin-left: 20px;
}

.photo {
  width: 200px;
  height: 200px;
}


/* menu ul/ui css */



.menu-ul {
  list-style: none;
  display: block;
  justify-self: start;
}

.menu-li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 5px;
  width: 200px;
}

.menu-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu-a {
  text-decoration: none;
  font-size: 20px;
  color: #1E1E1E;
}
