:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1E1E1E;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blocks{
  margin: auto;
}

body {
  margin: 0;
}

/* Layout css*/

.nav-ul{
  display: flex;
  justify-content: end;
  margin-top: -30px;
}

.nav-li{
  display: block;
  text-align: center;
  margin-right: 15px;
}

.footer{
  border: #1E1E1E;
  border-top: 2px solid black;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #fff;
}

.nav-text{
  display: block;
  text-align: start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;

}

.mainpage{
  width: 100%;
}

/* Media-item card*/

table {
  width: 100%;
}

tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  padding: 0 0 1rem 1rem;

}

td img {
  width: 90%;
  max-width: 600px;
  object-fit: cover;
}

td a {
  color: var(--ghost-white);
  text-decoration: none;
  background-color: var(--tomato);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.media-row {
  background-color: var(--white-smoke);
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 600px;
  border: 2px solid rgb(50, 50, 50);

}

.media-row h2 {
  color: var(--cinnabar);
  margin: 10px 0 10px 0;
}

.media-row h3 {
  padding: 0 0 1rem 1rem;
}


/* Home css*/

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homediv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.homepallo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ECA57D;
}

.home-text{
  margin-left: -40px;
  font-size: 50px;
}

.artists-box{
  background-color: var(--white-smoke);
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 600px;
  border: 2px solid rgb(50, 50, 50);
}

.artist-profile {
  text-align: start;
  margin-right: 20px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.artist-name {
  font-size: 20px;
  font-weight: bold;
}

.artist-text {
  font-size: 14px;
  width: 60%;
}

.artist-week {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.artist-photo {
  margin-left: 20px;
}

.photo {
  width: 200px;
  height: 200px;
}

/* menu ul/ui css */

.menu-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap ;
  padding: 0%;
}

.menu-li {
  padding: 10px;
  padding: 10px;
  align-self: center;
  padding: 10px;
}

.menu-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu-a {
  text-decoration: none;
  font-size: 20px;
  color: #1E1E1E;
  text-align: center;
}
