:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1e1e1e;
  background-color: #fff;
  --white-smoke: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.blocks {
  margin: auto;
}

body {
  margin: 0;
}

/* Layout css*/

.nav-ul {
  display: flex;
  justify-content: end;
  margin: -30px 0 2px;
}

.nav-li {
  display: block;
  text-align: center;
  margin: 5px 5px;
}

.nav-li img {
  height: 1.5rem;
}

.footer {
  border: #1e1e1e;
  border-top: 2px solid black;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: #fff;
}

.nav-text {
  display: block;
  text-align: start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0.15000000596046448px; /* mikä xD */
  text-align: left;
}

/* Home css*/
.container {
  display: flex;
  box-sizing: border-box; /* Includes padding and border in the width */
  width: 600px;
}

.inner-div-left {
  width: 400px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}

.homediv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

.homepallo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #eca57d;
}

.home-text {
  margin-left: -55px;
  overflow: hidden;
  color: #000;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: 'Rozha One';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.artists-box {
  background-color: var(--white-smoke);
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 600px;
  border: 2px solid rgb(50, 50, 50);
  background-color: var(--white-smoke);
}

.artist-profile {
  text-align: start;
  padding-left: 20px;
  padding-top: 10px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
}

.artist-name {
  font-size: 20px;
  font-weight: bold;
}

.artist-text {
  font-size: 14px;
  width: 70%;
}

.artist-week {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.artist-img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  padding: 20px;
}

/* Media-item card*/
.username {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0.5rem 0;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media-info-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media-row-title {
  font-weight: bold;
}

.media-buttons {
  display: flex;
  align-items: start;
}

.media-buttons img {
  width: 13px;
  height: 15px;
  margin: 3px;
}
.media-info-save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.media-info-save-img {
  width: 40px;
  height: 40px;
}

.save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.save-container img {
  height: 100%;
}
.save-count {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.media-buttons button {
  border: 1px solid #1e1e1e;
  border-radius: 50%;
  margin: 2px;
}

.button:hover {
  background-color: #04aa6d; /* Green */
  color: white;
}

a {
  text-decoration: none;
}

.tag {
  font-size: 1rem;
  margin: 0.3rem 0.1rem;
  border: #424242 1px solid;
  border-radius: 30px;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  gap: 10px;
}
.tags a {
  color: #424242;
  font-weight: bold;
  transition: 0.5s ease;
  cursor: pointer;
}
.tags a:hover {
  color: #eca57d;
  transform: scale(1.1);
}

.tags a {
  color: #424242;
  border: #424242 1px solid;
  border-radius: 30px;
  padding: 0.2rem 1rem;
  margin: 0.3rem 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: 0.5px;
}

button {
  cursor: pointer;
}
table {
  width: 100%;
}

tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediaImg {
  width: 100%;
  height: auto;
}

td img {
  width: 100%;
  height: auto;
}

.media-row {
  background-color: var(--white-smoke);
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  max-width: 600px;
  border: 2px solid rgb(50, 50, 50);
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-container a {
  width: 80%;
}

.media-contact-td {
  width: 100%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.media-contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.media-contact-container img {
  width: 30px;
  height: 30px;
}
.media-contact-container p {
  white-space: nowrap;
  text-transform: uppercase;
}

.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-item label {
  margin-right: 10px;
}

.notification-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.notification-item button:hover {
  background-color: #0056b3;
}
.mark-as-read {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.notification-list {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}
.media-row-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .container {
    display: block;
  }
  .artist-img {
    padding: 0px;
    padding-left: 10px;
    width: 270px;
    height: 270px;
  }
}
