/* menu ul/ui css */

.menu-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  margin-top: 30px;
  align-items: center;
  padding: 0;
}

.menu-li {
  padding: 10px;
  width: 45%;
  min-width: 170px;
}

a {
  text-decoration: none;
  color: black;
}

.menu-img {
  height: 1.5rem;
  width: 3rem;
  margin-bottom: -8px;
  padding-right: 10px;
}

.popup {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background-color: rgb(251, 167, 41);
  border-radius: 100%;

  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.back {
  margin-bottom: 2rem;
}

.notification-container {
  position: relative;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  16.67% {
    transform: scale(1.2);
  }
  33.33% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1.2);
  }
  66.67% {
    transform: scale(0.8);
  }
  83.33% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
